body{
	min-height: 1000px;
}
#pantalla_cookies{
	width: 100%;
	min-width: 515px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	position: fixed;
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
	overflow: hidden;
	height: 150px;
	font-family: arial, sans-serif;
	font-size: 13px;
	z-index: 10000;
}

#pantalla_cookies.pantalla-on{
	height: 0px;
}
#pantalla_cookies-in{
	height: 200px;
	background-color: #444;
	color: #ddd;
	padding: 30px 50px;
	line-height: 25px;
	border: 1px solid #f1f1f1;
}
a#cookies_leer_mas,
a#acepta_cookies{
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #888;
	padding: 5px 10px;
	margin-left: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #888;
	font-size: 12px;
	display: inline-block;
}
a#acepta_cookies:hover,
a#cookies_leer_mas:hover{
	border: 1px solid #333;
	color: #333;
}
@media screen and (max-width: 40em) {

	#pantalla_cookies{
		max-width: 100%;
		min-width: 100px;
		width: auto;
		height: auto;
		font-size: 13px;
	}
	#pantalla_cookies-in{
		height: auto;
		padding: 10px 10px;
		line-height: 25px;
		font-size: 4vw;
	line-height: 5vw;
	}


}